**.png

**.txt
test.py
**.ipynb
finite_length.py
**_old.py
ICI2_FLC_OML_tf0
test0.py
tables_v2.py
check.py

**_wrong.py
**_log.py
**_trick.py
ICI2_extrapolated.py
extra_material


# Python
__pycache__/
.DS_Store
.pytest_cache
.coverage
**.pyc
**.egg-info
_build

# PTetra
*.topo
*.msh
*.prcnd
fort.20
*.vtk
*.rdm
*.out
**.log
mptetra
PTetraProbes/Sphere_1.87R_3.5V_3.5V_600K/meshpic.dat
PTetraProbes/Sphere_1.87R_3.5V_3.5V_600K/mptetra
PTetraProbes/geometry/msh2topo
PTetraProbes/mptetra
PTetraProbes/Sphere_1.183R_3.5V_3.5V_1500K/mptetra
PTetraProbes/Sphere_1.183R_3.5V_3.5V_1500K/meshpic.dat
core.*
# PUNC++
fields
